.mask{
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, .5);
    position:fixed;
    z-index: 1003;
    left:0;
    top:0;
}
.container{
    .form-login{
        .checkbox{
            #remember-me{
                position: relative;
                margin-left: 0;
                vertical-align: bottom;
            }
            .pull-right{
                margin-top:4px;
            }
        }
    }
}
.signup{
    .btn-theme{
        margin-top:24px;
    }
    .worning{
        color: red;
    }
}
#main-content .title{
    margin-top: 60px;
    width: 100%;
    display: inline-block;
    ol{
        width:100%;
        &:first-child{
            font-size: 20px;
        }
    }
}
#main-content .wrapper{
    margin-top:0;
    background: #fff;
}
tr .btn-block{
    width: auto;
}
.box-title{
    .btn-block{
        width:auto;
    }
}
.box-title{
    display: flex;
    justify-content: space-between;
}
.box-body{
    .table-striped{
        td{
            img{
                width: 64px;
                height: 90px;
            }
        }
    }
    label{
        font-size: 16px;
        color: #000;
    }
}
.box-footer ul li a.active{
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
#mainwrapper{
    width: 94%;
    margin:0 auto;
    flex: 1;
}
.table tbody tr td{
    vertical-align: middle;
}
#messagebox{
    width: 100%;
    height:400px;
    background: #fff;
}